{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <tr align="left">
            <th>Symbol</th>
            <td></td>
            <td></td>
            <th>Name</th>
            <td></td>
            <td></td>
            <th>Shares</th>
            <td></td>
            <td></td>
            <th>Price</th>
            <td></td>
            <td></td>
            <th>TOTAL</th>
        </tr>
    <tbody>
        {% for elmt in symb %}
            <tr>
                {% for e in elmt %}
                    <td align="left">
                        {{ e }}
                    </td>
                    <td></td>
                    <td></td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr align="left">
            <td>
                cash
            </td>
            <th></th>
            <th></th>
            <td></td>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cash }}</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <td></td>
            <td></td>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <th  align="left">{{ total }}</th>
        </tr>
    </tbody>
    </table>
{% endblock %}